body{
  display: block;
  background-image: linear-gradient( 112.1deg,  rgba(77,238,253,1) 0.7%, rgba(3,151,232,1) 26.1%, rgba(47,31,116,1) 95.7% );
}
.celular {
  border-style: double;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px black;
    border: 1px solid rgb(245, 242, 242);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 250px;
    margin: 20% auto;
    background-color: black;
  }

  .celular:hover{
    border: 2px solid rgb(0, 0, 0);
  }


  .celular:hover{
  }
  
  .horas{
    color: #000000;
    top: auto;
    margin-left: 35%;
    margin-right: 38%;
    margin-top: 0%;
    transform: scale(1);
    transition: 1s;
  }

  .horas:hover{
    transform: scale(1.15);
  }
  
  .tela{
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
    border-radius: 30px;
    display: block;
    align-items: center;
    justify-content: center;
    height: 488px;
    width: 238px;
    margin: 20% auto;
    background-color: #000000;
  }
  
  .camera{
    display: flex;
    height: 15px;
    width: 15px;
    margin-top: 4%;
    margin-left: 5%;
    border-radius: 50%;
    background-color: black;
  }

  img{
    height: 18px;
    height: 28px;
    transform: scale(1);
    transition: 1s;
  }

  img:hover{
    transform: scale(1.2);
  }

  .icone_telefone{
    margin-top: 150%;
    margin-left: 10%;
  }

  .icone_camera{
      margin-top: -13%;
      margin-left: 80%;
  }

  .tela:hover{
    background-color:#faf8f8 ;
  }
